<div class="pagination_mcare_box">
  <nav>
    <mfPaginator #p [mfTable]="mfTable">
      <ul class="pagination pagination-sm" *ngIf="p.dataLength > p.rowsOnPage">
        <li [class.disabled]="p.activePage <= 1" (click)="prevPage()">
            <a style="cursor: pointer">&laquo;</a>
        </li>
        <li *ngIf="p.activePage > 4 && p.activePage + 1 > p.lastPage" (click)="p.setPage(p.activePage - 4)">
            <a style="cursor: pointer">{{p.activePage-4}}</a>
        </li>
        <li *ngIf="p.activePage > 3 && p.activePage + 2 > p.lastPage" (click)="p.setPage(p.activePage - 3)">
            <a style="cursor: pointer">{{p.activePage-3}}</a>
        </li>
        <li *ngIf="p.activePage > 2" (click)="p.setPage(p.activePage - 2)">
            <a style="cursor: pointer">{{p.activePage-2}}</a>
        </li>
        <li *ngIf="p.activePage > 1" (click)="p.setPage(p.activePage - 1)">
            <a style="cursor: pointer">{{p.activePage-1}}</a>
        </li>
        <li class="active">
            <a style="cursor: pointer">{{p.activePage}}</a>
        </li>
        <li *ngIf="p.activePage + 1 <= p.lastPage" (click)="p.setPage(p.activePage + 1)">
            <a style="cursor: pointer">{{p.activePage+1}}</a>
        </li>
        <li *ngIf="p.activePage + 2 <= p.lastPage" (click)="p.setPage(p.activePage + 2)">
            <a style="cursor: pointer">{{p.activePage+2}}</a>
        </li>
        <li *ngIf="p.activePage + 3 <= p.lastPage && p.activePage < 3" (click)="p.setPage(p.activePage + 3)">
            <a style="cursor: pointer">{{p.activePage+3}}</a>
        </li>
        <li *ngIf="p.activePage + 4 <= p.lastPage && p.activePage < 2" (click)="p.setPage(p.activePage + 4)">
            <a style="cursor: pointer">{{p.activePage+4}}</a>
        </li>
        <li [class.disabled]="p.activePage >= p.lastPage" (click)="nextPage()">
            <a style="cursor: pointer">&raquo;</a>
        </li>
      </ul>
    </mfPaginator>
  </nav>
</div>